<header>
    <mat-grid-list cols="2" rowHeight="4:3">
        <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-title>Join a Group Today!</mat-card-title>
            <img src="assets/wepool 2.jpg">
            <mat-card-subtitle>
            
            </mat-card-subtitle>
            <mat-card-content>
                <p>Come along for a more economical, eco friendly, <br>
                    and socially inviting way of getting to where you need to go!</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button routerLink="/login" color="primary">Get Started</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-title>About Us</mat-card-title>
                <mat-card-subtitle>
                
                </mat-card-subtitle>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet. Sed obcaecati assumenda sit inventore quas est numquam consequatur qui quidem nobis et veritatis autem qui quasi provident ex labore itaque. Ab libero optio non minus magni aut impedit temporibus non amet dolores et sapiente officia sed vitae dignissimos! Hic maiores nihil est aliquam illum et dolor dolores!

                        Et sapiente labore non aperiam suscipit aut rerum corrupti. Sed excepturi omnis eos officia voluptatem dicta quis ab doloribus modi et dolorum praesentium et voluptatem optio ut quae magni. Aut officiis quis 33 molestias rerum sit quia facilis et omnis galisum.
                        
                        Ut cupiditate consequatur non dolor sint et accusantium omnis et perspiciatis dolorem qui officia omnis qui velit rerum. Sit magnam sint sit error tenetur aut corporis similique qui porro sint sit reprehenderit provident? Quo odio incidunt aut earum labore est commodi alias 33 modi natus cum incidunt praesentium? Sit quod aliquam ea impedit repellat aut repellendus voluptate ea maiores nulla est modi doloribus qui veritatis corporis ut magni fugiat.</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr class="solid">
    <mat-grid-list cols="2" rowHeight="3:2">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-title>Our Mission</mat-card-title>
                <mat-card-subtitle>
                
                </mat-card-subtitle>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet. Sed obcaecati assumenda sit inventore quas est numquam consequatur qui quidem nobis et veritatis autem qui quasi provident ex labore itaque. Ab libero optio non minus magni aut impedit temporibus non amet dolores et sapiente officia sed vitae dignissimos! Hic maiores nihil est aliquam illum et dolor dolores!

                        Et sapiente labore non aperiam suscipit aut rerum corrupti. Sed excepturi omnis eos officia voluptatem dicta quis ab doloribus modi et dolorum praesentium et voluptatem optio ut quae magni. Aut officiis quis 33 molestias rerum sit quia facilis et omnis galisum.
                        
                        Ut cupiditate consequatur non dolor sint et accusantium omnis et perspiciatis dolorem qui officia omnis qui velit rerum. Sit magnam sint sit error tenetur aut corporis similique qui porro sint sit reprehenderit provident? Quo odio incidunt aut earum labore est commodi alias 33 modi natus cum incidunt praesentium? Sit quod aliquam ea impedit repellat aut repellendus voluptate ea maiores nulla est modi doloribus qui veritatis corporis ut magni fugiat.</p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
            <mat-card-title>Become our business partner!</mat-card-title>
            <img src="assets/wepool 1.jpg">
            <mat-card-subtitle>
                
            </mat-card-subtitle>
            <mat-card-content>
                <p>Set up carpooling groups for your company!</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button routerLink="/login" color="accent">Sign Up</a>
                </mat-card-actions>
            </mat-card>
            </mat-grid-tile>
    </mat-grid-list>

    <hr class="solid">

</header>

  <footer></footer>
  
  
  
  