<!Container with Angular Material form fields to take input>
<div id="container">
    <mat-form-field class="origin">
        <mat-label>Origin</mat-label>
        <input matInput id="originInput" value="">
    </mat-form-field>
    <p></p>
    <mat-form-field class="destination">
        <mat-label>Destination</mat-label>
        <input matInput id="destinationInput" value="">
    </mat-form-field>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7Y7JJMsGZP_DabHWCv2A2iLwuoP5UcCs&libraries=places"></script>
</div>