.question {
    font-family: 'Helvetica', sans-serif;
    font-size: large;
    width: 1200px;
    display:inline-block;
}
.text {
    font-family: 'Helvetica', sans-serif;
    font-size: small;
}
.type {
    position: relative;
    flex: 1;
    left: 150px;
}
.card {
    position: static;
    width: 1800px;
    margin-top: 10px;
    background-color: rgb(245, 243, 243);
    display: flex;
}
.slider {
    position: relative;
    top: 10px;
}
.checkbox {
    position: relative;
    left: 150px;
    top: 10px;
}
.textbox {
    position: relative;
    top: 10px;
}